@tailwind base;
@tailwind components;
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/poppins-bold-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair';
  src: url('./fonts/playfair-display-latin-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PoppinsThin';
  src: url('./fonts/Poppins-ExtraLight.woff') format('woff');
  font-weight: 400;
  font-style: thin;
}
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');


.custom-letter-spacing {
  letter-spacing: -0.05em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
